<div class="modal" id="LogIn">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <h4 class="modal-title" > LOGIN .. </h4>
                <button type="button" class="close" data-dismis="modal">X</button>


            </div>

        </div>

    </div>


</div>