  <!-- The Modal -->
    <div class="modal" id="CreateAccount">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Account</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Dashboard/registration" method="POST">
                        <label class="sr-only" for="firstName">firstName</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="First name" name="firstName">
                        </div>

                        <label class="sr-only" for="lastName">lastName</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Last name" name="lastName">
                        </div>

                        <label class="sr-only" for="emailAddress">emailAddress</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email address" name="emailAddress">
                        </div>

                        <label class="sr-only" for="dateOfBirth">dateOfBirth</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Date of birth yyyymmdd" name="dateOfBirth">
                        </div>
                        
                        <label class="sr-only" for="userName">userName</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" name="userName">
                        </div>


                        <label class="sr-only" for="Password">Password</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input id="Password" type="password" class="form-control" placeholder="Password" name="Password">
                        </div>

                        <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" >Create Account</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>