<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <title>Recruitment Application</title> 
</head>

<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="/dashboard">Recruitment App</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">

              {{#if user}}

                 <li class="nav-item">
                <button type="button" class="btn btn-info dropdown-toggle"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 profile
                </button>

                 <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="#" data-toggle="modal"
                     data-target="#modal-account">My account</a>

                    <a class="dropdown-item" href="logout">Log out</a>
                </div>
                </li>
              
              {{else}}
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-white"
                     type="button" href="registration">Create Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white"
                     type="button" href="login">LogIn</a>
                </li>
              {{/if}}
            </ul>
        </div>
    </nav>
    <div class="container">
    {{{body}}}
    </div>
</body>

</html>